# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [62]:
air_bnb = pd.read_csv('AB_NYC_2019.csv.zip')
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [8]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.groupby('neighbourhood_group').count()

#5 neighborhood groups available. Manhattan shows up the most

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [13]:
# Are private rooms the most popular in manhattan?

air_bnb.groupby(["neighbourhood_group", "room_type"]).count()

#No. entire home/apartment is most popular

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [23]:
# Which hosts are the busiest and based on their reviews?

air_bnb[["host_id", "id", "number_of_reviews"]].groupby("host_id").count().sort_values("number_of_reviews", ascending = False)

air_bnb.loc[air_bnb["host_id"] == 219517861]

#Sonder(NYC)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47691,35871510,Sonder | 116 John | Vibrant Studio + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70818,-74.00631,Entire home/apt,135,29,0,NaN,NaN,327,339
47692,35871511,Sonder | 116 John | Vibrant 1BR + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70691,-74.00682,Entire home/apt,165,29,0,NaN,NaN,327,342
47693,35871515,Sonder | 116 John | Stunning 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70772,-74.00673,Entire home/apt,165,29,0,NaN,NaN,327,347
47814,35936418,Sonder | 116 John | Polished Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70840,-74.00518,Entire home/apt,699,29,0,NaN,NaN,327,327
47821,35937891,Sonder | 116 John | Simple Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70707,-74.00557,Entire home/apt,699,29,0,NaN,NaN,327,341

In [24]:
#Which neighorhood group has the highest average price?
air_bnb[["neighbourhood_group", "price"]].groupby("neighbourhood_group").mean()

#Manhattan

                          price
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [25]:
# Which neighbor hood group has the highest total price?
air_bnb[["neighbourhood_group", "price"]].groupby("neighbourhood_group").sum()

#Manhattan

                       price
neighbourhood_group
Bronx                  95459
Brooklyn             2500600
Manhattan            4264527
Queens                563867
Staten Island          42825

In [43]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby('host_id').agg({'id': 'count', 'price': "sum"}).sort_values("id", ascending = False).head()

air_bnb.loc[air_bnb["host_id"] == 219517861]

#Sonder (NYC)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47691,35871510,Sonder | 116 John | Vibrant Studio + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70818,-74.00631,Entire home/apt,135,29,0,NaN,NaN,327,339
47692,35871511,Sonder | 116 John | Vibrant 1BR + Fitness Room,219517861,Sonder (NYC),Manhattan,Financial District,40.70691,-74.00682,Entire home/apt,165,29,0,NaN,NaN,327,342
47693,35871515,Sonder | 116 John | Stunning 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70772,-74.00673,Entire home/apt,165,29,0,NaN,NaN,327,347
47814,35936418,Sonder | 116 John | Polished Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70840,-74.00518,Entire home/apt,699,29,0,NaN,NaN,327,327
47821,35937891,Sonder | 116 John | Simple Studio + Gym,219517861,Sonder (NYC),Manhattan,Financial District,40.70707,-74.00557,Entire home/apt,699,29,0,NaN,NaN,327,341

In [77]:
# Who currently has no (zero) availability with a review count of 100 or more?

avail_review = air_bnb.loc[(air_bnb["availability_365"] == 0) & (air_bnb["number_of_reviews"] >= 100)]
no_avail_many_reviews = avail_review["host_id"].unique()
no_avail_many_reviews

array([     7490,     79402,    129352,    193722,     67778,    239208,
          303939,    522065,    683975,    242506,    792159,   1311398,
         1358312,   1360043,     36897,   1492339,   1503831,   1649300,
         1935605,   1146958,   2265770,   2275829,   2361715,   1787284,
         1215949,   2494666,   3558158,   3778274,   3880974,   3955766,
         4129805,   1099716,   4434798,   5634395,    663764,    585273,
         6482637,   3571821,   6774871,   7581642,   5464042,   4983320,
         8732694,   1562642,   8910286,   9234456,   9268156,   3187531,
         1726966,  11947308,   3793026,  16266298,  16106756,  13337141,
        17820079,   3912009,  17224426,  18219988,  18834080,   9492212,
          610819,  22171095,  21641206,   6465286,  21688465,  17921968,
         3417940,  22210080,  25404246,  10795846,   7463662,  23719409,
        28723165,  30314132,  24561040,  31040344,  31150792,   1197823,
        25915648,  33750239,  23082955,   5577926,  36644635,  39603420,
        22959695,  40371157,  43509184,  10024006,  31104953,  44924546,
        23073564,  37818581,  48726094,  48970186,  22423049,  49511227,
         5291029,  50144728,  24175837,  36638599,  51954926,  21430239,
        27431753,   8049682,    814747,    790177,   3417090,  61972032,
          116382,  14898658,  67261284,  42399786,   6458590,  32357613,
        84779589,  87152012,  84141923,   9030221,  95419310,  92195100,
        26073602,  99392252,  96148809, 102080453, 103488282,   3479852,
        35998113,   2300134, 107296819,  94100043, 121391142,  31658624,
         3203397,  10402380, 138721769,  28270349,  94206273, 142878742,
       133810925, 143944704,  50760404,   7097558, 159156636, 127740507,
       176185168,  21074914,  40119874, 209549523], dtype=int64)

In [85]:
# What host has the highest total of prices and where are they located?

air_bnb[["host_id", "price"]].groupby("host_id").sum().sort_values("price", ascending = False).head()

#air_bnb.loc[air_bnb["host_id"] == 30283594]

#1. Sonders (NYC)
#2. Blueground
#3. Sally
#4. Red Awning
#5. Kara

           price
host_id
219517861  82795
107434423  70331
156158778  37097
205031545  35294
30283594   33581

In [59]:
# When did Danielle from Queens last receive a review?

air_bnb.loc[(air_bnb["host_name"] == "Danielle") & (air_bnb["neighbourhood_group"] == "Queens")]

#Danielle host id 26432133: 7/8/2019
#Danielle host id 18051286: No reviews
#Danielle host id 154256662: 1/2/2018
#Danielle host id 201647469: 6/20/2019

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333

## Further Questions

1. Which host has the most listings?

In [60]:
air_bnb[["host_id", "calculated_host_listings_count"]].groupby("host_id").sum().sort_values("calculated_host_listings_count", ascending = False).head()
#Sonder (NYC)

           calculated_host_listings_count
host_id
219517861                          106929
107434423                           53824
30283594                            14641
137358866                           10609
16098958                             9216

2. How many listings have completely open availability?

In [70]:
air_bnb.groupby("availability_365").sum().sort_values("availability_365", ascending = False).head()
#17,040 listings have completely open availability

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count
availability_365,,,,,,,,,
365,25125529312,110783342498,52744.07351,-95756.54144,324747,25382,13236,700.17,17040
364,9493871610,40590604418,19999.58182,-36309.83980,127843,7395,4787,196.09,7973
363,4680623818,23060584630,9734.86560,-17671.62285,47954,2640,3055,161.43,2400
362,3390859696,16126012582,6759.56356,-12274.88110,33382,3093,3124,163.28,1220
361,2449287823,11343756978,4519.35079,-8206.44258,17439,644,2807,145.61,1740

3. What room_types have the highest review numbers?

In [73]:
air_bnb[["room_type", "number_of_reviews"]].groupby("room_type").sum()

#Entire home/apt, followed by Private room, followed by Shared room

                 number_of_reviews
room_type
Entire home/apt             580403
Private room                538346
Shared room                  19256

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:

#1. Which hosts are the busiest and why?

#Sonder (NYC) is the busiest host. This may be because Manhattan is the most popular borough to rent an Air BnB,
#and because Sonder (NYC) posts the most listings of any host. Sonder (NYC) posts about double the number of 
#listings as their leading competitor in number of listings posted. 

#2. How many neighborhood groups are available and which shows up the most?

# Five neighborhood groups are available: Manhattan, Bronx, Queens, Brooklyn, and Staten Island. 
#Manhattan shows up the most.

#3. Are private rooms the most popular in manhattan?

#No. Entire home/apt is the most popular room type in Manhattan, followed by private rooms, followed by shared rooms.

#4. Which hosts are the busiest and based on their reviews?

#Based on number of reviews, Sonder(NYC) is the busiest host.

#5. Which neighorhood group has the highest average price?

#Manhattan has the highest average price ($196.88).

#6. Which neighborhood group has the highest total price?

#Manhattan has the highest total price ($4,264,527).

#7. Which top 5 hosts have the highest total price?

#1. Sonders (NYC): $82,795
#2. Blueground: $70,331
#3. Sally: $37,097
#4. Red Awning: $35,294
#5. Kara: $33,581

#8. Who currently has no (zero) availability with a review count of 100 or more?

# See no_avail_many_reviews for a list of host IDs who meet this criteria

#9. What host has the highest total of prices and where are they located?

#Host: Sonder(NYC). Location: Manhattan. Total price: $82,795.

#10. When did Danielle from Queens last receive a review?

#There are 4 people with the name Danielle who host in Queens. The following are the dates of their last reviews:
#Danielle host id 26432133: 7/8/2019
#Danielle host id 18051286: No reviews
#Danielle host id 154256662: 1/2/2018
#Danielle host id 201647469: 6/20/2019